body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 50px;
}
h1 {
    text-align: center;
    background: #000000;
    color: #ffffff;
    padding: 20px 0;
    
}
h2 {
    text-align: center;
    background: #999999;
    padding: 10px 0;
}
li {
    color: #999999;
}
.subtitle {
    text-align: center;
}
